body {
    background: #E0FFF9;
    width: 100%;
    color: #180340;
    display: flex;
    flex-direction: column;
    font-family: 'Stalinist One', cursive;

}
#correct {
    background-color: #0e3afd;
}
#incorrect {
    background-color: #FA2E8F;
}
header {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 80vw;
    margin: 0 auto;
}
#start-button{
    width: 20vh;
}
section {
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: 'Caesar Dressing', cursive;
    color: #FA2E8F;
    flex-grow: 8;
    margin: 0;
    padding: 1vw;
    font-size: 3.5vw;
}
h2 {
    color: #E0FFF9;
    /* font-family: 'Caesar Dressing', cursive; */
    text-align: center;
    font-size: 1vh;
    background-color:#874BF9;
    width: 40vw;
    margin: 0 auto;
    line-height: 4vh;
    border-radius: 8px;


}
.score {
    flex-grow: 1;
}
.sc-tracker {
    flex-grow: 1;
}
main {
    align-items: center;

}
.choices ul {
    height: 25vh;
	width: 40vw;
	background-color: #00FFCB;
	margin: 1vw auto;
	border-radius: 8px;
    list-style: none;
	padding: 5px 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}
.choices li {
    display: inline-block;
	background-color:#874BF9;
    width: 15vw;
    /* padding: 0 auto; */
	/* padding: .9vw .3vw; */
	border-radius: 1vw;
	margin: 1.2vh 0;
    font-size: 1.5vw;
    line-height: 22px 0 0 0;
	color:#E0FFF9;
	box-shadow: 0px 3px 0px rgb(45, 25, 82);
	cursor: pointer;
	outline: none;
    text-align: center;
    /* font-family: 'Stalinist One', cursive; */
    vertical-align: center;
}
.choices li p {
    margin: 0 auto;
}
.choices li:hover {
    background-color: #180340;
}
#nexBtn {
    width: 20vw;
    margin: 10px auto;
	border-radius: 1.5vw;
	background-color:#FA2E8F;
    padding: .5vw;
}
aside {
    height: 250px;
    width: 350px;
    /*background: darkblue;
    margin: 1vw auto;
    border-radius: 1vw;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */
    /* position: relative; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    margin: 1vw auto;

    /* height: auto; */
}

.opener {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: ; */
    /* height: 25vh;
    width: 25vw; */
    /* padding: 10px; */

    background-color: aliceblue;
    text-align: center;
    text-shadow: -1px -1px black, 1px 1px white;

    margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .5em gray; 
    cursor: pointer;

        
}
.opener:hover {
    
    background-color: rgba(211, 211, 211, 0.692);
    /* position: relative; */
    /* top: .2em; */

}
.opener:active {
    
        box-shadow: none;
        /* position: relative; */
        /* top: .2em; */
    
}
.opener-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(22, 35, 47);

}